<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.local.disable-amd-gpu</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>-c</string>
        <string>pmset -a gpuswitch 0; nvram 4D1EDE21-7FDE-4053-9556-E55836157E45:gpuswitch=%30; nvram fa4ce28d-b62f-4c99-9cc3-6815686e30f9:gpu-power-prefs=%01%00%00%00</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>
